body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  background-color: #eff7fc;
}

.game {
  margin: 3em;
  display: flex;
  justify-content: center;
}

.game-board .board {
  width: 50em;
}

.game-board .board .board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game-info {
  width: 13em;
  margin-left: 2em;
}

.game-info .status {
  font-size: 1.2em;
  color: #00a3af;
}

.game-info button {
  width: 100%;
  font-size: 1em;
  display: inline-block;
  outline: 0;
  margin-top: 2em;
  padding: 1.2em 1em;
  transition: all 200ms ease-in;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.game-info button:hover {
  background-color: #fff !important;
  color: #00a3af;
  border: 1px solid #83ccd2;
}

.game-info .replay-button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #00a3af;
  border: 1px solid #00a3af;
}

.game-info .sort-button {
  text-transform: capitalize;
  background-color: #f17300;
  border: 1px solid #f17300;
}

.active {
  font-weight: bold;
  background-color: #fff !important;
  color: #00a3af !important;
  border: 1px solid #83ccd2 !important;
}

.game-info ol {
  color: #00a3af;
  padding-left: 1.5em;
  max-height: 33em;
  overflow-y: auto;
}

.game-info ol::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}

.game-info ol::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.game-info ol::-webkit-scrollbar-thumb {
  background-color: #83ccd2;
}

.game-info ol li {
  padding-left: 1em;
  margin-right: 1em;
}

.game-info ol li .step-button {
  background-color: #83ccd2;
  border: 1px solid #83ccd2;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}
